@{
    ViewData["Title"] = "Home Page";
}
<header class="header">
    <div class="container">
        <h1>Лвівський національни університет імена Івана Франка</h1>
        <h2><small>Розклад занять </small></h2>
    </div>
    <nav class="page-navigation">
        <div class="container">
            <ul>
                <li>Schedule</li>
                <li>Sign_up</li>
            </ul>
            <form action="#" class="login">
                <input type="submit" class="button" value="Sign out">
            </form>
        </div>
    </nav>


</header>