@{
    ViewData["Title"] = "Home Page";
}

<body ng-app="myApp" ng-controller="AuthCtrl as au">
    <div class="container auth-cont-marg">
        <div class="row">
            <div class="col-md-4 auth-column">

                <!--Login form-->
                <form ng-if="!au.signIn" ng-submit="sendLoginRequest()">
                    
                    
                </form>


            </div>
        </div>

    </div>

</body>